* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.failImg {
  width: 500px;
  height: 500px;
}
.failCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.op {
  width: 250px;
  height: 50px;
  margin: 50px;
}
.op1 {
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
}

.imp {
  margin-right: 30px;
}
